* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

body {
  font-family: roboto, sans-serif;
}

.hero {
  background-color: #1F2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header li {
  list-style-type: none;
}