* {
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
}

body {
  font-family: roboto, sans-serif;
}

.hero {
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-grow: 1;
}

.header-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-bottom: 100px;
}

.hero-img img {
  width: 500px;
}

.hero-text {
  width: 450px;
  align-self: center;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin-bottom: 10px;
}

.secondary-text {
  font-size: 18px;
  color: #b6b6b8;
}

.hero-text button {
  background-color: #3882F6;
  padding: 5px 27px;
  font-weight: bold;
  color: #F9FAF8;
  font-size: 18px;
  margin-top: 15px;
  border-radius: 7px;
}

.section2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 120px 400px;
   padding-top: 60px;
}

.img-box {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.each-image img {
  width: 160px;
  height: 170px;
  border: 4px solid #3882F6;
  border-radius: 20px;
}

.section2 h2 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.each-image p {
  width: 160px;
  text-align: center;
  font-size: 18px;
  color: #8d8d8d;
}

.section3 {
  background-color: #E5E7EB;
  display: flex;
  flex-wrap: wrap;
  padding: 120px 445px;
  gap: 20px;
  justify-content: flex-end;
}

.section3 p {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
}

.section3 h3 {
  font-size: 24px;
  margin-right: 50px;
  margin-bottom: -70px
}